@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

#workspaces button {
  background-color: @surface0;
  /* padding: 5px; */
  margin: 2.5px 3px;
  min-width: 8px;
  color: @lavender;
  border-radius: 15px;
  transition: background-color 0.2s ease;
  transition: min-width 0.3s ease-in-out;
}

#workspaces button.active {
  min-width: 30px;
  transition: background-color 0.2s ease;
  transition: min-width 0.3s ease-in-out;
  background-color: @lavender;
  color: @surface0;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#bluetooth,
#custom-wlogout,
#scratchpad {
  margin: 2.5px 4px;
  padding: 0px 5px;
  color: @base;
  border-radius: 15px;
}

#clock {
  background-color: @maroon;
}

#clock.date {
  background-color: @mauve;
}

#pulseaudio {
  background-color: @blue;
}

#network {
  background-color: @yellow;
}

#battery {
  background-color: @green;
}

#bluetooth {
  background-color: @mauve;
}

#memory {
  background-color: @teal;
}

#disk {
  background-color: @sky;
}

#temperature {
  background-color: @sapphire;
}

#custom-wlogout {
  background-color: @blue;
  min-width: 30px;
}
