[Unit]
Description=Temporizador para monitoreo de batería
Requires=battery-monitor.service

[Timer]
OnBootSec=0s
OnUnitActiveSec=300s

[Install]
WantedBy=timers.target
